@font-face {
  font-family: "medium";
  src: url("assets/Hamburg-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("assets/Hamburg-ExtraBold.ttf");
}

@font-face {
  font-family: "check";
  src: url("assets/ActionCondensedRegular-Grade3-Trial.otf");
}

* {
  font-family: medium;
  color: whitesmoke;
}

body {
  background-color: #14142b;
  height: 200vh;
}


.logo {
  width: 400px;
}


button {
  all: unset;
  display: inline-block;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-family: medium;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 17px;
}

/* Important stuff below */
.button {
  background-color: #3f6844;
  box-shadow: 0 5px 0 #395e3d; 
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

footer {
  color: white;
  position: fixed;
  height: 100px;
}

.model {
margin-left: 25vw;
  border-radius: 12px;
  z-index: -100;
  position: relative;
  margin-top: -20vh;
}

.heading {
  z-index: 100;
  margin-left: 50px;
  margin-right: 150px;
}

.heading :nth-child(1) {
  color: whitesmoke;
  font-family: bold;
  font-size: 100px;
  z-index: 9;

}


.heading :nth-child(2) {
  color: rgb(255, 255, 255);
  font-family: check;
  font-size: 200px;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
transform: rotate(-5deg);
z-index: 10;
position: relative;
margin-top: -320px;
margin-left: 100px;

}

.heading :nth-child(3) {
  margin-top: -100px;
}

section :nth-child(1) {
  font-family: bold;
  font-size: 50px;
  margin-left: 50px;
}
section :nth-child(2) {
  font-family: medium;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -50px;
}







